<html>
<head>
    <link href="./public/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>
    <button id="start">Start Game</button>
    <div id="score"></div>
    <div id="rating"></div>
    <div>
        <table id="guitar">
            <tr id="fret-1" class="fret">
                <td id="string-1-1" class="string"></td>
                <td id="string-1-2" class="string"></td>
                <td id="string-1-3" class="string"></td>
                <td id="string-1-4" class="string"></td>
            </tr>
            <tr id="fret-2" class="fret">
                <td id="string-2-1" class="string"></td>
                <td id="string-2-2" class="string"></td>
                <td id="string-2-3" class="string"></td>
                <td id="string-2-4" class="string"></td>
            </tr>
            <tr id="fret-3" class="fret">
                <td id="string-3-1" class="string"></td>
                <td id="string-3-2" class="string"></td>
                <td id="string-3-3" class="string"></td>
                <td id="string-3-4" class="string"></td>
            </tr>
            <tr id="fret-4" class="fret">
                <td id="string-4-1" class="string"></td>
                <td id="string-4-2" class="string"></td>
                <td id="string-4-3" class="string"></td>
                <td id="string-4-4" class="string"></td>
            </tr>
            <tr id="fret-5" class="fret">
                <td id="string-5-1" class="string"></td>
                <td id="string-5-2" class="string"></td>
                <td id="string-5-3" class="string"></td>
                <td id="string-5-4" class="string"></td>
            </tr>
            <tr id="fret-6" class="fret">
                <td id="string-6-1" class="string"></td>
                <td id="string-6-2" class="string"></td>
                <td id="string-6-3" class="string"></td>
                <td id="string-6-4" class="string"></td>
            </tr>
            <tr id="fret-7" class="fret">
                <td id="string-7-1" class="string"></td>
                <td id="string-7-2" class="string"></td>
                <td id="string-7-3" class="string"></td>
                <td id="string-7-4" class="string"></td>
            </tr>
            <tr id="fret-8" class="fret">
                <td id="string-8-1" class="string"></td>
                <td id="string-8-2" class="string"></td>
                <td id="string-8-3" class="string"></td>
                <td id="string-8-4" class="string"></td>
            </tr>
            <tr id="fret-9" class="fret">
                <td id="string-9-1" class="string"></td>
                <td id="string-9-2" class="string"></td>
                <td id="string-9-3" class="string"></td>
                <td id="string-9-4" class="string"></td>
            </tr>
            <tr id="helpers" class="fret">
                <td class="string">A</td>
                <td class="string">S</td>
                <td class="string">D</td>
                <td class="string">F</td>
            </tr>
        </table>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="./public/js/game.js"></script>
</html>